.features{
  background: linear-gradient(rgba(75, 75,75,1) 100%, rgba(44,44,44,1) 70%);
  padding: 100px 0;

  &_title{
    margin-bottom: 20px;
    text-align: center;
  }

  &_subtitle{
    width: 521px;
    margin: 0 auto 130px;
    text-align: center;
  }
  &_list{
    margin: 0 auto;
    list-style: none;
    width: 1053px;
    display: grid;
    gap: 127px;
  }

  .features-item{
    width: 520px;

    &:first-child::before{
      @include number(url("/icons/union1.svg"), 220px);
    }

    &:nth-child(2){
      justify-self: end;

      &::before{
        @include number(url("/icons/union2.svg"), 262px);
      }
    }

    &:last-child{
      width: 623px;

      &::before{
        @include number(url("/icons/union3.svg"), 270px);
      }
    }

  }

}