@font-face {
  font-family: "Tektur";
  src: url("/fonts/Tektur-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Tektur";
  src: url("/fonts/Tektur-Medium.ttf");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Tektur";
  src: url("/fonts/Tektur-SemiBold.ttf");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Tektur";
  src: url("/fonts/Tektur-Bold.ttf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Tektur";
}

body {
  color: #dadada;
}

h2 {
  font-size: 64px;
  font-weight: 600;
}

p {
  font-size: 24px;
  font-weight: 400;
}

.header {
  padding: 15px 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  width: 200px;
}
.header .logo img {
  width: 100%;
}
.header .profile {
  display: flex;
  justify-content: space-between;
  background: #c0c2c3;
  width: 235px;
  padding: 7px 15px;
  border-radius: 30px;
  align-items: center;
  font-size: 16px;
  color: #000;
}
.header .profile .profile_photo {
  width: 45px;
}
.header .profile .profile_photo img {
  width: 100%;
}
.header .profile .arrow_up {
  width: 18px;
  background-color: transparent;
  border: none;
  outline: none;
}
.header .profile .arrow_up img {
  width: 100%;
}

.banner {
  background-image: url("/images/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  padding: 340px 0 310px;
  text-align: center;
}
.banner h1 {
  width: 945px;
  font-size: 128px;
  font-weight: 700;
  margin: 0 auto;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.6);
}
.banner h1 .red {
  color: #FF381D;
}
.banner .subtitle {
  font-size: 32px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.6);
}

.about {
  background: linear-gradient(rgb(44, 44, 44) 65%, rgb(75, 75, 75) 100%);
  padding: 100px;
}
.about_content {
  width: 950px;
  position: relative;
}
.about_content::before {
  position: absolute;
  top: -50px;
  left: 1150px;
  display: block;
  width: 550px;
  height: 550px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  content: "";
  background-image: url("/images/about_alem.svg");
}
.about_title {
  margin-bottom: 30px;
}

.features {
  background: linear-gradient(rgb(75, 75, 75) 100%, rgb(44, 44, 44) 70%);
  padding: 100px 0;
}
.features_title {
  margin-bottom: 20px;
  text-align: center;
}
.features_subtitle {
  width: 521px;
  margin: 0 auto 130px;
  text-align: center;
}
.features_list {
  margin: 0 auto;
  list-style: none;
  width: 1053px;
  display: grid;
  gap: 127px;
}
.features .features-item {
  width: 520px;
}
.features .features-item:first-child::before {
  position: absolute;
  display: block;
  width: 220px;
  height: 155px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  content: "";
  background-image: url("/icons/union1.svg");
}
.features .features-item:nth-child(2) {
  justify-self: end;
}
.features .features-item:nth-child(2)::before {
  position: absolute;
  display: block;
  width: 262px;
  height: 155px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  content: "";
  background-image: url("/icons/union2.svg");
}
.features .features-item:last-child {
  width: 623px;
}
.features .features-item:last-child::before {
  position: absolute;
  display: block;
  width: 270px;
  height: 155px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  content: "";
  background-image: url("/icons/union3.svg");
}

/*# sourceMappingURL=styles.css.map */
